name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: preprocess
      run: mkdir ./build && cd ./build && pwd && ls ../
    - name: cmake
      run: ls ../ && cmake ../
    - name: make 
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
